@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0/all.min.css'); */

@layer base {
  html {
    font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #1d1d1f;
  }
}
:root {
  font-family: 'Pretendard-Regular';
  line-height: 1.5;
  font-weight: 400;

  --main-font: 'Pretendard-Regular';

  --white-color-100: #fff;
  --white-color-200: #fefefe;
  --white-color-300: #f7f7f7;

  --gray-color-100: #ddd;
  --gray-color-200: #c0c0c0;
  --gray-color-300: #b5b5b5;
  --gray-color-400: #697386;

  --black-color-100: #3d3d3d;
  --black-color-200: #2c2c2e;
  --black-color-300: #000000;

  --yellow-main-color: #ffb800;
  --green-main-color: #5e8358;
  --bg-main-color: #f9f8ef;
  --blue-select-color: rgba(139, 162, 231, 0.68);
  /* Gradient colors */
  --yellow-linear-start: #fafdb1;
  --yellow-linear-end: #ffc326;
  --red-linear-start: #ff9693;
  --red-linear-end: #ff4040;
  --green-linear-start: #a2fea5;
  --green-linear-end: #33a03b;

  /* Gradients */
  --yellow-linear-gradient: linear-gradient(
    to bottom,
    var(--yellow-linear-start) 0%,
    var(--yellow-linear-end) 100%
  );
  --red-linear-gradient: linear-gradient(
    to bottom,
    var(--red-linear-start) 0%,
    var(--red-linear-end) 100%
  );
  --green-linear-gradient: linear-gradient(
    to bottom,
    var(--green-linear-start) 0%,
    var(--green-linear-end) 100%
  );
  --font-size-title: 1.8rem;
  --font-size-large: 2rem;
  --font-size-medium: 1.7rem;
  --font-size-small: 1rem;

  --margin-lr-default: 3rem;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PTBandocheB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/PTBandocheB.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: var(--main-font);
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  -webkit-text-size-adjust: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  /* font-size: 62.5%; */
  font-family: 'NotoSans';
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

#app {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.leaflet-center {
  left: 50%;
  transform: translate(-50%, 0%);
}

.leaflet-middle {
  top: 50%;
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  transform: translate(0%, -50%);
}

.leaflet-center.leaflet-middle {
  transform: translate(-50%, -50%);
}

/* calendar global.css 내용 */
.fc .fc-media-screen .fc-direction-ltr .fc-theme-standard {
  width: 80%;

  display: flex;
  justify-content: center;
  margin-top: 10vh;
  padding: 1rem;
}
.fc {
  height: 100%;
}
/* 네비게이션 폰트 설정 */
.fc .fc-toolbar-title {
  font-weight: 800;
  font-size: 1rem;
}

/* 네비게이션 비활성화 됐을 때 스타일 */
.fc-prev-button:disabled,
.fc-next-button:disabled {
  background-color: white;
  color: var(--black-color-200,);
}

/* 요일 밑줄 제거 및 요일 글꼴 */
.fc .fc-col-header-cell-cushion {
  font-weight: 800;
  font-size: 0.9rem;
  color: rgba(52, 72, 94, 0.54);
}
.fc .fc-daygrid-day-number {
  color: #7c86a2;
  text-align: center;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* 일요일에만 빨간 폰트 */
.fc-day-sun {
  color: #ff4040;
  text-decoration: none;
}
/* 토요일 컬러 */
.fc-day-sat a {
  color: #747bff;
}

#calendar .fc-day-today {
  background: none;
}
.fc-daygrid-day .fc-event-title {
  color: var(--blue-select-color, rgba(139, 162, 231));
}
.fc .fc-daygrid-day:hover .fc-event-title,
.fc .fc-daygrid-day:focus .fc-event-title,
.fc .fc-daygrid-day.fc-day-selected .fc-event-title {
  color: var(--white-color-100) !important;
}
.fc-day-today .fc-event {
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 55px;
  width: 30px !important;
  height: 10px;
}
/* 선택한 날짜 스타일 적용 */
.fc-daygrid-day:hover,
.fc-daygrid-day:focus,
.fc-daygrid-day.fc-day-selected {
  border-radius: 10px;
  background: var(--blue-select-color, rgba(139, 162, 231, 0.68)) !important;
}
#calendar .fc-button {
  background-color: transparent;
  color: #000000;
  border: none;
}

#calendar .fc-button-primary span {
  font-weight: 500;
  font-size: 28px;
}

/* 오늘 버튼 스타일 */
.today-button {
  position: absolute;
  right: 7%;
  top: 6%;
  width: 18%;
  height: 1.5rem;
  text-align: center;
  line-height: 1.6rem;
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: 800;
}

#calendar .fc-daygrid-day-events {
  display: flex;
  justify-content: center;
  height: auto;
}
#calendar .fc-event {
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 55px;
  width: 10px;
  height: 10px;
}

.fc .fc-scrollgrid,
.fc .fc-scrollgrid table {
  border: none;
}
.fc-theme-standard td,
.fc-theme-standard th {
  border: none;
  padding-top: 3.5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

/* 날짜 글자  */
.fc .fc-daygrid-day-top {
  display: flex;
  justify-content: center;
}
.fc-daygrid-day-frame {
  padding: 2px; /* 패딩을 줄여 더 컴팩트하게 만듦 */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
}
.fc-basic-view .fc-body .fc-row {
  height: 1em;
}
.fc tr {
  line-height: 8px !important;
}
.fc td {
  height: unset !important;
}
